@page "/DataDictionary"
@using Microsoft.Extensions.Localization
@using global::JS.Abp.DataDictionary.Localization
@inject IStringLocalizer<DataDictionaryResource> L
@{
}
<h1>DataDictionary</h1>
<p>@L["SamplePageMessage"]</p>