@page
@using Microsoft.Extensions.Localization
@using JS.Abp.DataDictionary.Localization
@using JS.Abp.DataDictionary.Web.Pages.DataDictionary
@model JS.Abp.DataDictionary.Web.Pages.DataDictionary.IndexModel
@inject IStringLocalizer<DataDictionaryResource> L

@{
}
<h1>DataDictionary</h1>
<p>@L["SamplePageMessage"]</p>
